.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	margin: 1em auto;
	overflow: hidden;
}
.projects-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	max-width: 1200px;
	margin: 2em auto;
	padding: 1em;
	border-radius: 25px;
	background-color: black;
	z-index: 2;
	overflow: hidden;
}

.top h3 {
	text-align: center;
	font-size: 2.5rem;
	padding: 0.5em;
}
.top p {
	color: var(--dark-fonts);
	font-size: 1.2rem;
	padding: 0.8em;
	text-align: center;
	max-width: 800px;
}
.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	margin: 1em;
}
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	max-height: 300px;
	background-color: #050e1f;
	border-radius: 14px;
	overflow: hidden;
}
.card-top {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.card-img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.card-back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	transform: translateY(-100%);
	transition: 0.3s all;
}
.project-bgc {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: rgb(139, 20, 160);
	background: linear-gradient(0deg, #8b14a0 0%, #00d4ff 100%);
}
.card:hover .card-back {
	transform: translateY(0);
}
.card-back p {
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--gray-fonts);
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.project-link {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	font-size: 1.7rem;
}
.project-link a {
	color: var(--white-fonts);
	text-decoration: none;
}
.icon {
	fill: url(#pink-gradient);
	font-size: 2rem;
	margin: 0.5em;
	transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.icon:hover {
	transform: scale(1.1);
}
.stack {
	display: flex;
	align-items: flex-start;
	width: 100%;
	flex-direction: row;
}
