.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
}
.projects-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	max-width: 1200px;
	margin: 1em auto;
	/* padding: 1em; */
	border-radius: 25px;
	background-color: black;
	z-index: 2;
}

.top h3 {
	text-align: center;
	font-size: 2.5rem;
	padding: 0.5em;
}
.top p {
	color: var(--dark-fonts);
	font-size: 1.2rem;
	padding: 0.8em;
	text-align: center;
	max-width: 800px;
}
.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	width: 80%;
	max-width: 400px;
	background-color: #050e1f;
	margin: 1em;
	border-radius: 14px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.card-top {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.card-img {
	height: 100%;
	width: 100%;
}

.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateY(-100%);
	transition: 0.3s all;
}
.project-bgc {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	background: rgb(139, 20, 160);
	background: linear-gradient(0deg, #8b14a0 0%, #00d4ff 100%);
}
.card:hover .card-back {
	transform: translateY(0);
}
.project-link {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	font-size: 1.3rem;
}
.project-link a {
	color: var(--white-fonts);
	text-decoration: none;
}
.icon {
	fill: url(#pink-gradient);
	font-size: 2.2rem;

	padding: 0.2em;
}
.icon:hover {
	fill: red;
}
.stack {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5em;
	flex-direction: row;
	width: 100%;
}
