.skills {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: absolute; */
	/* width: 100vw; */
	/* margin: 0 auto; */

	/* overflow: hidden; */
	position: relative;
	height: 100vh;
}

.bgc-skills {
	position: absolute;
	top: 0;
	background-image: url(../../assets//img/bgc_skills-small.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	filter: brightness(0.5);
	z-index: -1;
	overflow: hidden;
}

.skill-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	max-width: 700px;
	margin: 1em auto;
	padding: 1em;
	border-radius: 25px;
	background-color: black;
	z-index: 2;
}
.skill-slider {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 1em 0;
}
.skill-box h3 {
	font-size: 2.5rem;
	padding: 0.5em;
}
.skill-box p {
	color: var(--dark-fonts);
	font-size: 1.2rem;
	padding: 0.5em;
	text-align: center;
}
.skill-icon {
	fill: url(#blue-gradient);
	height: 50px;
	width: 50px;
	margin: 1em auto;
}
.skill-slider p {
	color: var(--gray-fonts);
	font-size: 1.6em;
}
