.skills {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 5em 0;

	/* height: 75vh; */
}

.skill-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	max-width: 900px;
	margin: 1em auto;
	padding: 1em;
	border-radius: 25px;
	background-color: black;
	z-index: 2;
}
.skill-slider {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 1em 0;
}
.skill-box h3 {
	font-size: 2.5rem;
	padding: 0.5em;
}
.skill-box p {
	color: var(--dark-fonts);
	font-size: 1.2rem;
	padding: 0.5em;
	text-align: center;
}
.skill-icon {
	fill: url(#blue-gradient);
	height: 50px;
	width: 50px;
	margin: 1em auto;
}
.skill-slider p {
	color: var(--gray-fonts);
	font-size: 1.6em;
}
@media (min-width: 576px) {
	.skill-box p {
		font-size: 1.5rem;
	}
}
@media (min-width: 768px) {
	.skill-box p {
		font-size: 1.8rem;
	}
}
@media (min-width: 992px) {
	.skill-box h3 {
		font-size: 3rem;
	}
	.skill-box p {
		font-size: 2rem;
		line-height: 3rem;
	}
}
