.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 3;
	transform: translateX(100%);
	transition: transform 0.4s;
}
.bgc-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	filter: brightness(0.4);

	z-index: -1;
	background-image: url(../../../assets/img/bgc_menu.jpg);
	background-size: cover;
	background-position: center;
}
.showMenu {
	transform: translateX(0);
	height: 100vh;
	overflow-y: hidden;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.menu-container a {
	text-decoration: none;
	color: var(--white-fonts);
	font-size: 1.5rem;
	padding: 0.5em;
	margin: 0.5em;
}

.social-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 2em;
}
.social-icon-radius {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 1em;
	border: 0.5px solid var(--gray-fonts);
	border-radius: 50%;

	text-align: center;
	background-color: #262626;
}

.social-icon {
	position: relative;
	display: inline-block;
	color: var(--add-color);
	width: 20px;
	height: 20px;
	padding: 0.2em;
	margin: 1em;
}
