.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	margin: 1em auto;
	width: 90%;
	margin: 0 auto;
}
.contact-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	margin: 2em auto;
	padding: 1em;
	border-radius: 25px;
	background: rgb(152, 46, 113);
	background: linear-gradient(90deg, rgba(152, 46, 113, 1) 0%, rgba(74, 42, 172, 1) 100%);
	z-index: 2;
	position: relative;
}

.left {
	display: flex;
	align-items: center;
	justify-content: center;
}
.img {
	width: 30%;
	margin: 1em;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.top {
	text-align: center;
}
.top h3 {
	text-align: center;
	font-size: 2.5rem;
	padding: 0.5em;
}
.top p {
	color: var(--dark-fonts);
	font-size: 1.2rem;
	padding: 0.5em;
	text-align: center;
	max-width: 800px;
}

.form-top {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.form-area {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5em;
	max-width: 500px;
}
.form-inputs {
	width: 100%;
	max-width: 500px;
	margin: 1em auto 0;
	padding: 0.5em;
}
.form-inputs input {
	margin: 0.4em 0.2em;
}
.form-top input {
	padding: 0.5em;
	border-radius: 10px 10px 0 0;
	border: none;
	border-bottom: 1px solid var(--dark-fonts);
	color: var(--white-fonts);
	width: 100%;
	max-width: 750px;
	height: 40px;
	background: rgba(185, 213, 255, 0.1);
	font-size: 1.3rem;
}

.form-top input::placeholder,
.form-top textarea::placeholder {
	color: var(--gray-fonts);
}
.form-top textarea::placeholder {
	font-family: 'Centra No2';
	font-size: 1.3rem;
}
.form-top textarea {
	padding: 0.5em;
	margin: 0.5em 0;
	resize: none;
	border: none;
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid var(--dark-fonts);
	color: var(--white-fonts);
	width: 100%;
	max-width: 500px;
	background: rgba(185, 213, 255, 0.1);
}
.btn {
	align-self: flex-end;
	margin-top: 0.5em;
	padding: 0.6em 0.3em;
	letter-spacing: 1px;
	border: none;
	border-radius: 8px;
	width: 100px;
	font-weight: 600;
	background-color: transparent;
	color: var(--white-fonts);
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.btn::before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	background-color: var(--add-color);
	height: 100%;
	width: 0;
	z-index: -1;
	transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	height: 100%;
	width: 100%;
	z-index: -2;
}
.btn:hover::before {
	width: 100%;
}

.alert {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 6;
	width: 100%;
	overflow: hidden;
	border-radius: 24px;
	background-color: black;
}
.alert {
	font-size: 1.2rem;
	padding: 0.5em;
	max-width: 600px;
}
.alert button {
	width: 50%;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	letter-spacing: 2px;
	transition: background-color 0.3s;
	cursor: pointer;
}
.alert button:hover {
	background-color: var(--add-color);
}
.header {
	font-size: 1.5rem;
	padding: 0.5em;
}
.alert-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.alert-container img {
	width: 30%;
}
.form-inputs input:focus,
.form-area textarea:focus {
	outline: none;
	border-bottom: 1px solid var(--add-color);
}
.form-inputs input:focus::placeholder,
.form-area textarea:focus::placeholder {
	font-weight: 600;
	color: var(--gray-fonts);
}

.form-inputs input::placeholder,
.form-area textarea::placeholder {
	font-weight: 600;
	color: var(--dark-fonts);
}
@media (min-width: 576px) {
	.top p {
		font-size: 1.5rem;
	}
	.contact-container {
		margin: 5em auto;
	}
}
@media (min-width: 768px) {
	.contact-container {
		flex-direction: row;
	}
	.img {
		width: 70%;
	}
	.form-inputs {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.form-inputs input {
		width: 48%;
	}
	.btn {
		width: 140px;
	}
	.top p {
		font-size: 1.8rem;
	}
}
@media (min-width: 992px) {
	.top h3 {
		font-size: 3rem;
	}
	.top p {
		font-size: 2rem;
		line-height: 3rem;
	}
	.form-top input,
	.form-top textarea {
		height: 50px;

		font-size: 1.8rem;
	}
	.form-top textarea::placeholder {
		font-size: 1.8rem;
	}
	.form-top textarea {
		height: 200px;
	}
	.btn {
		width: 50%;
		margin-top: 2em;
		padding: 1em;
		font-size: 1.8rem;
		border-radius: 16px;
	}
	.contact-container {
		margin: 1em auto;
		margin-bottom: 13em;
	}
}
