.header {
	position: relative;
	width: 100%;
	height: 100vh;
	top: 0;
	overflow-x: hidden;
}

.headerIcon {
	width: 40%;
	max-width: 300px;
	align-self: flex-end;
	animation: astroFly 3s infinite alternate;
}
.wrapperText {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
	height: 70%;
}

.container-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 1200px;
}
.container-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1em;
	margin: 0.5em;
}
.button-portfolio {
	text-align: center;
	background: var(--gradient);
	text-decoration: none;
	width: 140px;
	font-size: 1.1rem;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--white-fonts);
	/* border: 1px solid var(--gray-fonts); */
	padding: 1em 1em 0.7em 1em;
	cursor: pointer;
	transition: all 0.3s linear;
	margin-bottom: 0.7em;
	border-radius: 6px;
	animation: color-change-2x 2s linear infinite alternate both;
}

.button-portfolio:hover {
	color: var(--dark-font);
}
.container-text h1 {
	padding: 0.4em;
	font-size: 2rem;
	padding-left: 0;
	margin-left: 0;
}

.container-text h3 {
	margin-top: 0;
	padding: 0.4em;
	font-size: 1.4em;
	margin-bottom: 0em;
	padding-left: 0;
	margin-left: 0;
}
.container-text p {
	width: 100%;
	font-size: 1.3rem;
	padding: 0.4em;
	color: var(--gray-fonts);
	padding-left: 0;
	margin-left: 0;
	line-height: 1.8rem;
	text-align: justify;
}

.container-img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5em;
	padding: 0 1em;
	align-self: flex-end;
}

.button-contact-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	margin-right: 0.5em;
	background: transparent;
	font-size: 1.3rem;
	padding: 0.5em 0.3em;
	border: 1px solid transparent;
	color: var(--white-fonts);
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-contact-mobile:hover {
	color: var(--add-color);
}

.button-contact-mobile p {
	text-align: center;
	padding: 0;
	margin: 0;
}
.icon-msg {
	width: 25px;
	height: 25px;
	padding: 0.3em;
}
.img-me {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.icon-down {
	/* position: absolute; */
	text-align: center;
	margin: 0em auto;
	padding: 0.5em;
	height: 40px;
	width: 40px;
	transition: opacity 0.3s linear;
}

.icon-down-icon {
	text-align: center;
	width: 100%;
	height: 100%;
	transition: color 0.3s;
	color: var(--gray-fonts);
}
.icon-down-icon:hover {
	color: var(--add-color);
}
@keyframes color-change-2x {
	0% {
		background: #e93ffd;
	}
	100% {
		background: #4639e3;
	}
}

@keyframes astroFly {
	from {
		transform: translateY(0) rotate(-5);
	}
	to {
		transform: translateY(30px) rotate(5deg);
	}
}

@media (min-width: 576px) {
	.container-text {
		padding: 1.5em;
	}
	.button-portfolio {
		width: 200px;
		font-size: 1.3rem;
	}
	.container-text h1 {
		font-size: 2.5rem;
	}
	.container-text h3 {
		font-size: 2rem;
	}
	.container-text p {
		font-size: 1.7rem;
		line-height: 2.4rem;
	}
	.container-img {
		margin-right: 2em;
	}
	.button-contact-mobile {
		font-size: 1.5rem;
	}
	.icon-msg {
		width: 30px;
		height: 30px;
	}
	.icon-down {
		width: 45px;
		height: 45px;
	}
}
@media (min-width: 768px) {
	.container-text {
		padding: 2em;
	}
	.button-portfolio {
		font-size: 1.5rem;
		width: 230px;
	}
	.container-text h1 {
		font-size: 3rem;
	}
	.container-text h3 {
		font-size: 2.5rem;
	}
	.container-text p {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}
	.container-img {
		margin-right: 1.7em;
	}
	.button-contact-mobile {
		font-size: 2rem;
	}
	.icon-msg {
		width: 45px;
		height: 45px;
	}
	.img-me {
		width: 100px;
		height: 100px;
	}
	.icon-down {
		width: 48px;
		height: 48px;
	}
}
@media (min-width: 992px) {
	.wrapperText {
		flex-direction: row;
		justify-content: center;
	}
	.headerIcon {
		align-self: center;
		align-content: center;
		order: 1;
		width: 100%;
	}
	.background {
		background-image: url(../../assets/img/header_bgc_big.jpg);
	}

	.headerIcon {
		margin-bottom: 1em;
	}
	.button-portfolio {
		font-size: 1.8rem;
		width: 300px;
	}
	.container-text h1 {
		font-size: 3rem;
	}
	.container-text h3 {
		font-size: 2.6em;
	}
	.container-text p {
		font-size: 2.1rem;
		/* width: 80%; */
		line-height: 3.3rem;
	}
	.container-img {
		margin-right: 1.8em;
	}
	.button-contact-mobile {
		font-size: 2.1rem;
	}
	.icon-msg {
		width: 50px;
		height: 50px;
	}
	.img-me {
		width: 120px;
		height: 120px;
	}
	.icon-down {
		width: 50px;
		height: 50px;
	}
}
