.header {
	position: relative;
}
.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../../assets/img/header_bgc_small.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	filter: brightness(0.4);
	z-index: -1;
}
.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	max-width: 1200px;
}
.container-text {
	width: 70%;
	padding: 1em;
	margin: 1em;
}
.button-portfolio {
	background: rgb(99, 41, 86);
	background: linear-gradient(90deg, rgba(99, 41, 86, 1) 0%, rgba(55, 35, 108, 1) 100%);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	color: var(--white-fonts);
	border: 1px solid var(--gray-fonts);
	padding: 0.8em 0.4em;
	cursor: pointer;
	transition: background 2s linear;
}
.button-portfolio:hover {
	background: rgb(99, 41, 86);
	background: linear-gradient(270deg, rgba(99, 41, 86, 1) 0%, rgba(55, 35, 108, 1) 100%);
}
.container-text h1 {
	margin-top: 1em;
	font-size: 1.4rem;
}

.container-text h2 {
	margin-top: 0;
	font-size: 1.2rem;
}
.container-text p {
	font-size: 1rem;
	color: var(--gray-fonts);
}

.button-contact {
	visibility: hidden;
}

.container-img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	padding: 1em;
	align-self: flex-end;
}

.button-contact-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	margin-right: 0.5em;
	background: transparent;
	font-size: 1.3rem;
	padding: 0.3em;
	border: none;

	color: var(--white-fonts);
	cursor: pointer;
}
.button-contact-mobile p {
	text-align: center;

	padding: 0;
	margin: 0;
}
.icon-msg {
	width: 20px;
	height: 20px;
	padding: 0.3em;
}
.img-me {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid var(--gray-fonts);
}
.icon-down {
	display: inline-block;
	position: absolute;
	padding: 0.2em;
	margin-bottom: 1em;
	width: 20px;
	height: 20px;
	border: 0.5px solid var(--gray-fonts);
	border-radius: 50%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: opacity 0.3s linear;
}
.icon-down::before {
	background-color: #3f3f3f;
	opacity: 0.3;
	top: 0;
	left: 0;
	border-radius: 50%;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}
.icon-down-icon {
	width: 100%;
	height: 100%;
	color: var(--gray-fonts);
}
.icon-down:hover .icon-down-icon {
	color: var(--white-fonts);
}
