.navbar-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5em;
	height: 10vh;
	margin: 0 auto;
	width: 100%;
	top: 0;
	/* position: relative; */
}
.mobileWrapperContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0;
	z-index: 10;
	padding: 1em;
	border-bottom: 1px solid transparent;
	background-color: transparent;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0.5em;
}
.logo-text {
	padding: 0;
	color: var(--add-color);
	/* opacity: 0.5; */
}

.logo {
	width: 30px;
	opacity: 0.7;
	/* rotate: 45deg; */
}

.navigation-desktop {
	display: none;
}
.hamburger-react {
	right: 0;
	z-index: 5;
	margin-right: 1em;
}
.container-social {
	display: none;
}
.scrolledNavBar {
	transition: all 0.3s;
	background-color: black;
	border-bottom: 1px solid rgba(0, 145, 255, 0.4);
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.navbar-container {
		display: none;
	}
	.navigation-desktop {
		display: flex;
		z-index: 8;
		position: relative;
	}
	.deskopWrapperContainer {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 12vh;
		width: 100vw;
		border-bottom: 1px solid transparent;
		background-color: transparent;
	}
	.wrapperContainer {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		height: 12vh;
		padding: 2em;
	}
	.scrolledNavBarDesktop {
		transition: all 0.3s;
		background-color: black;
		border-bottom: 1px solid rgba(0, 145, 255, 0.4);
	}
	.logo-text-desktop {
		font-size: 2rem;
		color: var(--gray-fonts);
	}
	.logo-desktop {
		width: 60px;
		opacity: 0.7;
		rotate: 45deg;
	}
	.logo-container-desktop {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.navigation-container a {
		text-decoration: none;
		color: var(--gray-fonts);
		padding: 0.5em 1em;
		margin: 1em;
		font-size: 2rem;
	}
	.navigation-desktop a:last-child {
		margin: 0;
	}
	.container-social {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		right: 0;
		top: 10vh;
		margin-top: 1em;
		margin-right: 1em;
		max-width: 1200px;
	}
	.social-box {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		border-radius: 50%;
		margin: 2em;
		border: 0.5px solid var(--gray-fonts);
		width: 50px;
		height: 50px;
		text-align: center;
		background-color: #262626;
		cursor: pointer;
	}
	.social-icon {
		display: inline-block;
		color: var(--gray-fonts);
		width: 25px;
		height: 25px;
		padding: 0.2em;
		margin: 1em;
	}
	.hamburger-react {
		display: none;
	}
}
