.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	height: 10%;
	max-width: 1200px;
}
.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.logo-text {
	padding: 0;
	color: var(--gray-fonts);
}

.logo {
	width: 30px;
	opacity: 0.7;
	rotate: 45deg;
}
.navigation-desktop {
	display: none;
}
.hamburger-react {
	z-index: 5;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.hamburger-react {
		display: none;
	}
	.navigation-desktop {
		display: block;
	}
}
