.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
}
.footer-container {
	height: 10vh;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: auto 0;
	z-index: 2;
}
.social-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 50%;
	border: 1px solid var(--add-color);
	width: 30px;
	margin: 0.5em;
	height: 30px;
	text-align: center;
	background-color: #262626;
	cursor: pointer;
}
.social-box:hover {
	border: 1px solid var(--add-color);
}
.container-social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icon {
	display: inline-block;
	display: flex;
	position: absolute;
	color: var(--gray-fonts);
	width: 15px;
	height: 15px;
}
.logo-container {
	height: 100%;
	width: 33%;
}
.logo {
	opacity: 0.7;
	height: 100%;
}
.text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 33%;
}
.text-container h4 {
	font-size: 1rem;
}
.text-container p {
	font-size: 1rem;
}
.text-container p span {
	color: var(--gray-fonts);
}
@media (min-width: 576px) {
	.text-container h4 {
		font-size: 1.5rem;
	}

	.text-container p {
		font-size: 1.5rem;
	}
	.social-icon {
		width: 18px;
		height: 18px;
	}
	.social-box {
		width: 36px;
		height: 36px;
	}
}
@media (min-width: 768px) {
	.text-container h4 {
		font-size: 1.7rem;
	}

	.text-container p {
		font-size: 1.7rem;
	}
	.social-icon {
		width: 20px;
		height: 20px;
	}
	.social-box {
		width: 40px;
		height: 40px;
	}
}
@media (min-width: 992px) {
	.text-container h4 {
		font-size: 1.8rem;
	}

	.text-container p {
		font-size: 1.8rem;
	}
	.social-icon {
		width: 22px;
		height: 22px;
	}
	.social-box {
		width: 44px;
		height: 44px;
	}
}
