.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
}
.footer-container {
	height: 10vh;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: auto 0;
	z-index: 2;
}
.social-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 50%;
	border: 1px solid var(--gray-fonts);
	width: 20px;
	margin: 0.5em;
	height: 20px;
	text-align: center;
	background-color: #262626;
	cursor: pointer;
}
.social-box:hover {
	border: 1px solid var(--add-color);
}
.container-social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icon {
	display: inline-block;
	position: absolute;
	color: var(--gray-fonts);
	width: 10px;
	height: 10px;
}
.logo-container {
	width: 33%;
	height: 100%;
}
.logo {
	opacity: 0.7;
	height: 100%;
}
.text-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	width: 30%;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
