* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* FONTS */
@font-face {
	font-family: 'Centra No2';
	src: url('./assets/font/@font-face/229a57bbeef591e04a1fdfe347c90864.eot'); /* IE9*/
	src: url('./assets/font/@font-face/229a57bbeef591e04a1fdfe347c90864.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./assets/font/@font-face/229a57bbeef591e04a1fdfe347c90864.woff2') format('woff2'),
		/* chrome、firefox */ url('./assets/font/@font-face/229a57bbeef591e04a1fdfe347c90864.woff') format('woff'),
		/* chrome、firefox */ url('./assets/font/@font-face/229a57bbeef591e04a1fdfe347c90864.ttf') format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url('./assets/font/@font-face/229a57bbeef591e04a1fdfe347c90864.svg#Centra No2') format('svg'); /* iOS 4.1- */
}
html {
	font-family: 'Centra No2';
	font-size: 62.5%;
	color: var(--white-fonts);
	font-style: normal;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}
body {
	overflow-x: hidden;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	/* max-width: 1200px; */
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 100px;
	}
}
